*{
  cursor: url('../cursors/point.cur'), auto;
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Noto Sans JP, sans-serif;
}

*:active{
  cursor: url('../cursors/point_low.cur'), auto;
}

body{
  height: 100vh;
  position: relative;
}

.img-div{
  display:flex;
  flex-direction: column;
  justify-content: center;

  min-width: 400px;

  padding-left: 100px;
  padding-right: 100px;
}