*{
  cursor: url('../cursors/aero_arrow.cur'), auto;
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
*:active{
  cursor: url('../cursors/point_click_v2.cur'), auto;
} */

.img-div{
  display:flex;
  flex-direction: column;
  justify-content: center;

  min-width: 400px;

  padding-left: 100px;
  padding-right: 100px;
}

/* #box{
  background-color: red;
  height: 200px;
  width: 200px;
} */

/* #box:hover:active{
  animation:none;
  cursor: url('../cursors/point_click.cur'), auto;
} */